body{
	text-align:center;
}

p, h2, h3{
	text-align;left;
}

h1.title{
	padding-top: 5vh;
	font-family: arial;
	font-weight: 800;
}

h4{
	font-weight:600;
}

h5{
	font-family:arial;
	font-weight:400;
}

.wrapper{
	text-align:left;
	width:50%;
	min-width: 350px;
}

.text-container{
	padding: 5px;
}

div{
	/*border: 1px solid red;*/
}

.min-half{
	min-width:320px;
	width:50%;
}

.min-third{
	min-width:200px;
	width:33%;
}

.min-two-third{
	min-width:320px;
	width:66%;
}

#header-logo{
	z-index:3;
	margin-top:-4vh;
	height:30vh;
	-webkit-filter: drop-shadow(3px 3px 3px #222);
    filter: drop-shadow(3px 3px 3px #222);

}